*,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary-color: #2f3e46;
  --secondary-color: #354f52;
  --alternative-color: #52796f;
  --primary-font-color: #84a98c;
  --header-height: 15vh;
}

.header{
  width: 100%;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: flex;
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: var(--primary-color);
  color: #ffff;
}

.left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  width: 50%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  /* border-radius: 40px; */
  width: 95%;
  height: 95%;
  padding: .8em;
  background-color: #6b3c0b; /* Darker brown background color */
  border: 8px solid #4e2a08; /* Darker brown border color */
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #4e2a08; 
}

.container > h3{
  text-align: center;
  font-size: 1.5rem;
}

.search-ingre,
.search-recipe{
  position: relative;
}

.search-ingre > input,
.search-recipe > input{
  padding: 1em;
  width: 100%;
  border-radius: 40px;
  background-color: var(--primary-font-color);
  border: 1px solid #fff;
  opacity: .5;
  color: #ffff;
}

.search-ingre > button,
.search-recipe > button{
  padding: 1em;
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 1px solid #fff;
}

.search-ingre > button :hover,
.search-recipe > button :hover{
  cursor: pointer;
  scale: 1.2;
}

.ingre-list-div{
  margin: 0 1em;
  background-color: #4e2a08;
  padding: .5em;
  max-height: 50%;
  overflow: auto;
}

::placeholder{
  color: #fff;
}

.ingre-list{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  list-style: none;
  margin-bottom: .5em;
  border: 2px solid black;
  background-color: #6b3c0b;
  padding: .5em;
}

.ingre-list > button{
  height: 100%;
  aspect-ratio: 1;
  color: red;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .wrapper{
    flex-direction: column;
  }
  
  .left{
    width: 100%;
    height: auto;
    min-height: 70%;
    margin-bottom: 2em;
  }

  .right{
    width: 100%;
  }
}